<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>miner_0701.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {61, 63}}</string>
			<key>spriteOffset</key>
			<string>{-4, -1}</string>
			<key>spriteSize</key>
			<string>{61, 63}</string>
			<key>spriteSourceSize</key>
			<string>{105, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 0}, {61, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>miner_0702.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 4}, {71, 63}}</string>
			<key>spriteOffset</key>
			<string>{-6, -2}</string>
			<key>spriteSize</key>
			<string>{71, 63}</string>
			<key>spriteSourceSize</key>
			<string>{107, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 359}, {71, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>miner_0703.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {79, 63}}</string>
			<key>spriteOffset</key>
			<string>{-9, -2}</string>
			<key>spriteSize</key>
			<string>{79, 63}</string>
			<key>spriteSourceSize</key>
			<string>{107, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 171}, {79, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>miner_0704.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {83, 63}}</string>
			<key>spriteOffset</key>
			<string>{-11, -2}</string>
			<key>spriteSize</key>
			<string>{83, 63}</string>
			<key>spriteSourceSize</key>
			<string>{107, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 353}, {83, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>miner_0705.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {83, 63}}</string>
			<key>spriteOffset</key>
			<string>{-12, -2}</string>
			<key>spriteSize</key>
			<string>{83, 63}</string>
			<key>spriteSourceSize</key>
			<string>{107, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 88}, {83, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>miner_0706.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 4}, {63, 63}}</string>
			<key>spriteOffset</key>
			<string>{-6, -2}</string>
			<key>spriteSize</key>
			<string>{63, 63}</string>
			<key>spriteSourceSize</key>
			<string>{107, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 83}, {63, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>miner_0707.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 4}, {63, 63}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{63, 63}</string>
			<key>spriteSourceSize</key>
			<string>{107, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{15, 260}, {63, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>miner_0708.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 4}, {79, 63}}</string>
			<key>spriteOffset</key>
			<string>{7, -2}</string>
			<key>spriteSize</key>
			<string>{79, 63}</string>
			<key>spriteSourceSize</key>
			<string>{107, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{104, 269}, {79, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>miner_0709.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 4}, {83, 63}}</string>
			<key>spriteOffset</key>
			<string>{10, -2}</string>
			<key>spriteSize</key>
			<string>{83, 63}</string>
			<key>spriteSourceSize</key>
			<string>{107, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{103, 171}, {83, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>miner_0710.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 4}, {77, 63}}</string>
			<key>spriteOffset</key>
			<string>{5, -2}</string>
			<key>spriteSize</key>
			<string>{77, 63}</string>
			<key>spriteSourceSize</key>
			<string>{107, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 3}, {77, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>minerAction</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>minerAction</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>